# --------------------------------------
# Python Bytecode Files
# --------------------------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------------------------
# Virtual Environment
# --------------------------------------
venv/
env/
ENV/
.venv/
venv

# --------------------------------------
# Jupyter Notebook
# --------------------------------------
.ipynb_checkpoints/

# --------------------------------------
# Environment Variables
# --------------------------------------
.env

# --------------------------------------
# Logs
# --------------------------------------
*.log

# --------------------------------------
# VS Code
# --------------------------------------
.vscode/

# --------------------------------------
# PyCharm
# --------------------------------------
.idea/

# --------------------------------------
# System Files
# --------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------
# Build / Distribution
# --------------------------------------
build/
dist/
*.egg-info/

# --------------------------------------
# SQLite database
# --------------------------------------
*.sqlite3
db.sqlite3
